<div class="shortcut-table-host" [appShortcut]="SHORTCUTS.INFO" (appShortcutTrigger)="mostarInfoShortcut()">
    <p-dialog header="Atajos de teclado" [(visible)]="visible" [modal]="true" [style]="{ width: 'min(720px, 94vw)' }" [draggable]="false" [resizable]="false">
    <div class="atajos-grid">
      @for (atajo of atajos; track atajo) {
        <div class="atajo">
            <div class="col atajo_desc">
                <p>{{atajo.combo}}:</p>
            </div>
            <div class="col atajo_atajo">
                <p>{{atajo.descripcion}}</p>
            </div>
        </div>
      }
    </div>
    </p-dialog>
</div>
